<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active" ng-bind="title"></li>
        <button class="btn btn-sm btn-icon btn-default pull-right" ng-click="$state.reload()"><i
                class="icon icon-refresh"></i></button>
    </ul>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger wrapper-sm">*</span>姓名</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="user.name" class="form-control w-md" ng-maxlength="100" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" ng-model="user.email" class="form-control w-md" ng-maxlength="200">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">电话</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="user.phone" class="form-control w-md" ng-maxlength="200">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="user.mobile" class="form-control w-md" ng-maxlength="200">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea ng-model="user.remarks" rows="6" class="form-control" ng-maxlength="255"></textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="button" class="btn btn-default" ng-disabled="form.$invalid" ng-click="saveData()">
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>